doctype html
link(rel="stylesheet", href="index.css")
head
  meta(charset="utf-8")
  include components/header.pug
body
  block content
    .markdown
      | {{content}}
  
footer: include components/footer.pug
